.fav-preview {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.fav-obj-container {
  width: 210px;
  height: 280px;
  border-radius: 6px;
  margin-bottom: 32px;
  display: flex;
  overflow: hidden;
  background-color: $color-details;
  border: 2px solid $color-dark;
  transition: 0.3s;

  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.fav-obj-container:hover {
  box-shadow: 11px 11px 17px -2px rgba(0, 0, 0, 0.29);
  transform: scale(1.05);
}

.fav-poster-container {
  height: 240px;
  width: 100%;
  background-color: $color-light;
  overflow: hidden;
}

.fav-image {
  width: 100%;
}

.fav-tittle {
  padding: 16px;
  color: $color-light;
}

.remove-btn {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  color: $color-dark;
  border: none;
  border-radius: 50%;
  background-color: $color-main;
  transition: 0.5s;
}

.remove-btn:hover {
  background-color: transparentize($color-light, $amount: 0.6);
}

.reset-btn {
  border: none;
  border-radius: 50px;
  padding: 12px;
  width: 80px;
  margin-bottom: 32px;
  background-color: $color-main;
  transition: 0.5s;
}

.reset-btn:hover {
  background-color: transparentize($color-details, $amount: 0.6);
}

.reset-btn:focus {
  background-color: $color-details;
  outline: none;
}
