.fav-preview {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.fav-obj-container {
  width: 210px;
  height: 280px;
  border-radius: 6px;
  margin-bottom: 32px;
  display: flex;
  overflow: hidden;
  background-color: #eb4e27;
  border: 2px solid black;
  transition: 0.3s;

  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.fav-obj-container:hover {
  box-shadow: 11px 11px 17px -2px rgba(0, 0, 0, 0.29);
  transform: scale(1.05);
}

.fav-poster-container {
  height: 240px;
  width: 100%;
  background-color: white;
  overflow: hidden;
}

.fav-image {
  width: 100%;
}

.fav-tittle {
  padding: 16px;
  color: white;
}

.remove-btn {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  color: black;
  border: none;
  border-radius: 50%;
  background-color: #b5b5b5;
  transition: 0.5s;
}

.remove-btn:hover {
  background-color: transparentize(white, $amount: 0.6);
}
