header {
  width: 100vw;
  background-color: #b5b5b5;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 0 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

.main-tittle {
  margin: 0;
  color: black;
  font-size: 42px;
  line-height: 42px;
  text-transform: uppercase;
  font-weight: 700;
}
.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input {
  margin: 0 16px;
  padding: 12px;
  background-color: lightgrey;
  border: none;
  border-radius: 6px;
}

.btn {
  border: none;
  background-color: #b5b5b5;
}
.fa-search {
  color: black;
  font-size: 32px;
}
