@import 'core/variables';
@import 'core/reset';
@import 'partials/header';
@import 'partials/favorites';
@import 'partials/results';

body {
  font-family: sans-serif;
  background-color: #b5b5b5;
}

.wrapper {
  padding: 20px;
}

// MAIN

.main-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 70%;
}

.section-tittle {
  font-size: 24px;
  padding-bottom: 20px;
  margin-bottom: 32px;
  display: block;
  border-bottom: 2px solid black;
  text-transform: uppercase;
}
