@import 'core/reset';
@import 'core/variables';
@import 'core/mixins';
@import 'partials/header';
@import 'partials/favorites';
@import 'partials/results';

body {
  font-family: $font-family;
  background-color: $color-main;
}

.wrapper {
  padding: 20px;
}

// MAIN

.main-container {
  display: flex;
  flex-direction: column-reverse;

  @include tablet {
    flex-direction: row;
  }
}

.section-tittle {
  font-size: 24px;
  font-family: $font-family;
  padding-bottom: 20px;
  margin-bottom: 32px;
  display: block;
  width: 100%;
  border-bottom: 2px solid $color-dark;
  text-transform: uppercase;
  font-weight: 200;
}
